@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
/* font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: hsl(0, 0%, 96%)
}
.wrapper{
    margin: 20vw 10vw;
}
header{
    margin: 10px;
}
header h1{
    font-size: 23px;
}
header h1:nth-child(1){
    color: hsl(234, 12%, 34%);
    font-weight: 200;
}
header h1:nth-child(2){
    color: hsl(234, 12%, 34%);
}
header p{
    padding-top: 5vw;
    font-size: 13px;
    color: hsl(229, 6%, 66%);
    font-weight: 800;
    text-align: center;
}

.articles{
    /* padding: 20px 20px; */
    padding: 10px;
    margin-top: 20px;
    
    
}
.articles img{
    text-align: right;
}
.articles h2{
    color: hsl(234, 12%, 34%);
}
.articles  p{
    font-weight: 400;
    color: hsl(229, 6%, 66%);
}
article{
    display: grid;
    grid-template-rows: .5fr 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    box-shadow: 5px 10px rgb(209, 208, 208);
}
.supervisor{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border-top: 4px solid hsl(180, 62%, 55%);
}
.supervisor h2, p{
    grid-column: 1/3;
    grid-row: 1/2;
}
.supervisor p{
    grid-row: 2/3;
}
.supervisor img{
    grid-column: 2/3;
    grid-row: 3/4;
}
.TeamBuilder{
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    border-top: 4px solid hsl(0, 78%, 62%);
}
.TeamBuilder h2, p{
    grid-column: 1/3;
    grid-row: 1/2;
}
.TeamBuilder p{
    grid-row: 2/3;
}
.TeamBuilder img{
    grid-column: 2/3;
    grid-row: 3/4;
}
.Karma{
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    border-top: 4px solid hsl(34, 97%, 64%);
}
.Karma h2, p{
    grid-column: 1/3;
    grid-row: 1/2;
}
.Karma p{
    grid-row: 2/3;
}
.Karma img{
    grid-column: 2/3;
    grid-row: 3/4;
}
.Calculator{
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    border-top: 4px solid hsl(212, 86%, 64%);
}
.Calculator h2, p{
    grid-column: 1/3;
    grid-row: 1/2;
}
.Calculator p{
    grid-row: 2/3;
}
.Calculator img{
    grid-column: 2/3;
    grid-row: 3/4;
}
@media all and (min-width:376px) {
    body{
        background-color: #fff;
    }
header{
    text-align: center;
}
header h1{
    font-size: 30px;
    padding: 0 25vw;
}
header p{
    padding: 15px 23vw 0;
}
    .articles{
    display: grid;
    grid-template-rows: repeat(4,0.5fr);
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.supervisor{
    grid-row: 2/4;
}
.TeamBuilder{
    grid-row: 1/3;
    grid-column: 2/3;
}
.Karma{
    grid-row: 3/5;
    grid-column: 2/3;
}
.Calculator{
    grid-row: 2/4;
    grid-column: 3/4;
}
.wrapper{
    background-color: hsl(0, 0%, 96%);
    margin: 25px;
    padding: 5px;
    border-radius: 10px;
}
}
